// Navigation code here<a href="#">About</a>
     
header {
    justify-content: center;
    background: @nav-border;

    

    .title{
            font-size: 3.2rem;
            display: flex;
            justify-content: center;
            padding: 10px;
    }

    .navBtns{
            display: flex;
            justify-content: center;
            

            a{

            text-decoration: none;
            padding: 15px;
            color: black;
       
            }
    }

}

.btnSignup{

    background: @btn-bg-color;

    &:hover{
        background: @wild-sand;
        
}

   

}
    

    